{% extends "blog/base.html" %}

{% block content %}
  <section class="hero is-info">
    <div class="hero-body has-text-centered">
      <div class="container">
        <h1 class="title is-2">
          Betting Messenger 
        </h1>
        <h2 class="subtitle is-5">
          Chat with people who are betting on the same teams as you!
          <br/> Join one of the rooms below to start collaborating 
        </h2>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns">
        {% for room in rooms %}
        <div class="column">
          <div class="card rounded-edges">
            <div class="card-content">
              <p class="title is-4">{{room.name}}</p>
              <div class="content">
                <p>
                  {{room.description}}
                </p>
                <a href="/room/{{room.pk}}/" class="button">Join Room</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}