{% extends "blog/base.html" %}
{% block content %}



<div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sports Groups
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    {% for group in group_list %}         
        <a class="dropdown-item" href="{% url 'group' group.id %}">{{ group.name }} </a>
    {% endfor %} 
  </div>
</div>

<div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Leagues
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
  </div>
</div>

{% endblock %}