{% extends "blog/base.html" %}
{% block head %}{% endblock %}
{% block content %}


<div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ selected_group.name }}
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    {% for group in groups %}         
        <a class="dropdown-item" href="{% url 'group' group.id %}">{{ group.name }} </a>
    {% endfor %} 
  </div>
</div>

<div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ selected_league.name }}
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    {% for league in leagues %}         
        <a class="dropdown-item" href="{% url 'league' league.id %}">{{ league.name }} </a>
    {% endfor %} 
  </div>
</div>

<!--  BELOW IS NEW -->
<br>
<br>
{% include "matches_list.html" with matches=matches %}

{% endblock %}